node_modules
dist
.next
out
tmp
logs
*.zip
*.log
.git
Dockerfile
.dockerignore
ecosystem.config.js
restart.sh
restart.bat
build.sh
docker-compose.yml
docker-build.sh
docker-build.bat
*.env
.env*
!.env.production.example
